<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#SQL-query-from-table-names---Continued" data-toc-modified-id="SQL-query-from-table-names---Continued-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>SQL query from table names - Continued</a></span><ul class="toc-item"><li><span><a href="#The-old-Prompt" data-toc-modified-id="The-old-Prompt-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>The old Prompt</a></span></li><li><span><a href="#New-Prompt." data-toc-modified-id="New-Prompt.-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>New Prompt.</a></span></li><li><span><a href="#NL2SQL-Samples" data-toc-modified-id="NL2SQL-Samples-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>NL2SQL Samples</a></span></li></ul></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Exercise</a></span></li></ul></div>

# SQL query from table names - Continued

In [1]:
!pip install openai
from openai import OpenAI
from google.colab import userdata
#import os
# from dotenv import load_dotenv, find_dotenv
# _ = load_dotenv(find_dotenv())

OPENAI_API_KEY = userdata.get('Ironhack-GPT')

Collecting openai
  Downloading openai-1.35.0-py3-none-any.whl (326 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 326.0/326.0 kB 2.4 MB/s eta 0:00:00
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.10/dist-packages (from openai) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/lib/python3/dist-packages (from openai) (1.7.0)
Collecting httpx<1,>=0.23.0 (from openai)
  Downloading httpx-0.27.0-py3-none-any.whl (75 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 kB 2.5 MB/s eta 0:00:00
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from openai) (2.7.3)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from openai) (1.3.1)
Requirement already satisfied: tqdm>4 in /usr/local/lib/python3.10/dist-packages (from openai) (4.66.4)
Requirement already satisfied: typing-extensions<5,>=4.7 in /usr/local/lib/python3.10/dist-packages (from openai) (4.12.2)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai) (3.7)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai) (1.2.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.23.0->openai) (2024.6.2)
Collecting httpcore==1.* (from httpx<1,>=0.23.0->openai)
  Downloading httpcore-1.0.5-py3-none-any.whl (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 5.2 MB/s eta 0:00:00
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx<1,>=0.23.0->openai)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 3.2 MB/s eta 0:00:00
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai) (0.7.0)
Requirement already satisfied: pydantic-core==2.18.4 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai) (2.18.4)
Installing collected packages: h11, httpcore, httpx, openai
Successfully installed h11-0.14.0 httpcore-1.0.5 httpx-0.27.0 openai-1.35.0

## The old Prompt

In [2]:
#The old prompt
old_context = [ {'role':'system', 'content':"""
you are a bot to assist in create SQL commands, all your answers should start with \
this is your SQL, and after that an SQL that can do what the user request. \
Your Database is composed by a SQL database with some tables. \
Try to maintain the SQL order simple.
Put the SQL command in white letters with a black background, and just after \
a simple and concise text explaining how it works.
If the user ask for something that can not be solved with an SQL Order \
just answer something nice and simple, maximum 10 words, asking him for something that \
can be solved with SQL.
"""} ]

old_context.append( {'role':'system', 'content':"""
first table:
{
  "tableName": "employees",
  "fields": [
    {
      "nombre": "ID_usr",
      "tipo": "int"
    },
    {
      "nombre": "name",
      "tipo": "varchar"
    }
  ]
}
"""
})

old_context.append( {'role':'system', 'content':"""
second table:
{
  "tableName": "salary",
  "fields": [
    {
      "nombre": "ID_usr",
      "type": "int"
    },
    {
      "name": "year",
      "type": "date"
    },
    {
      "name": "salary",
      "type": "float"
    }
  ]
}
"""
})

old_context.append( {'role':'system', 'content':"""
third table:
{
  "tablename": "studies",
  "fields": [
    {
      "name": "ID",
      "type": "int"
    },
    {
      "name": "ID_usr",
      "type": "int"
    },
    {
      "name": "educational_level",
      "type": "int"
    },
    {
      "name": "Institution",
      "type": "varchar"
    },
    {
      "name": "Years",
      "type": "date"
    }
    {
      "name": "Speciality",
      "type": "varchar"
    }
  ]
}
"""
})

## New Prompt.
We are going to improve it following the instructions of a Paper from the Ohaio University: [How to Prompt LLMs for Text-to-SQL: A Study in Zero-shot, Single-domain, and Cross-domain Settings](https://arxiv.org/abs/2305.11853). I recommend you read that paper.

For each table, we will define the structure using the same syntax as in a SQL create table command, and add the sample rows of the content.

Finally, at the end of the prompt, we'll include some example queries with the SQL that the model should generate. This technique is called Few-Shot Samples, in which we provide the prompt with some examples to assist it in generating the correct SQL.

In [16]:
context = [ {'role':'system', 'content':"""
Table 1: Courses
{
  "tablename": "courses",
  "fields": [
    {
      "name": "course_ID",
      "type": "int"
    },
    {
      "name": "course_name",
      "type": "varchar"
    },
    {
      "name": "description",
      "type": "text"
    },
    {
      "name": "credits",
      "type": "int"
    },
    {
      "name": "department",
      "type": "varchar"
    }
  ]
}
"""}]

context.append({'role':'system', 'content':"""
Table 2: Instructors
{
  "tablename": "instructors",
  "fields": [
    {
      "name": "instructor_ID",
      "type": "int"
    },
    {
      "name": "name",
      "type": "varchar"
    },
    {
      "name": "email",
      "type": "varchar"
    },
    {
      "name": "department",
      "type": "varchar"
    },
    {
      "name": "hire_date",
      "type": "date"
    }
  ]
}
"""})

context.append({'role':'system', 'content':"""
Table 3: Enrollments
{
  "tablename": "enrollments",
  "fields": [
    {
      "name": "enrollment_ID",
      "type": "int"
    },
    {
      "name": "student_ID",
      "type": "int"
    },
    {
      "name": "course_ID",
      "type": "int"
    },
    {
      "name": "enrollment_date",
      "type": "date"
    },
    {
      "name": "grade",
      "type": "varchar"
    }
  ]
}
"""})

context.append({'role':'system', 'content':"""
Table 4: Departments
{
  "tablename": "departments",
  "fields": [
    {
      "name": "department_ID",
      "type": "int"
    },
    {
      "name": "name",
      "type": "varchar"
    },
    {
      "name": "building",
      "type": "varchar"
    },
    {
      "name": "budget",
      "type": "float"
    }
  ]
}
"""})

context.append({'role':'system', 'content':"""
Table 5: Research_Projects
{
  "tablename": "research_projects",
  "fields": [
    {
      "name": "project_ID",
      "type": "int"
    },
    {
      "name": "title",
      "type": "varchar"
    },
    {
      "name": "lead_instructor_ID",
      "type": "int"
    },
    {
      "name": "start_date",
      "type": "date"
    },
    {
      "name": "end_date",
      "type": "date"
    },
    {
      "name": "funding_amount",
      "type": "float"
    }
  ]
}
"""})

In [27]:
#FEW SHOT SAMPLES
context.append( {'role':'system', 'content':"""
 -- Maintain the SQL order simple and efficient as you can, using valid SQL Lite, answer the following questions for the table provided above.
 -- Ensure your queries are syntactically correct and optimized for SQLite.
 -- Use table names and column names exactly as defined in the table schemas.
 -- Provide only the SQL query as the answer without any additional text or explanation.
 -- DO NOT GIVE RESPONSE IF YOU DON'T KNOW THE ANSWER
"""
})

context.append({'role': 'user', 'content': "Show all details from the courses table."})
context.append({'role': 'assistant', 'content': "SELECT * FROM courses;"})

context.append({'role': 'user', 'content': "List the names and emails of all instructors."})
context.append({'role': 'assistant', 'content': "SELECT name, email FROM instructors;"})

In [29]:
#Functio to call the model.
def return_CCRMSQL(user_message, context):
    client = OpenAI(
    # This is the default and can be omitted
    api_key=OPENAI_API_KEY,
)

    newcontext = context.copy()
    newcontext.append({'role':'user', 'content':"question: " + user_message})

    response = client.chat.completions.create(
            model="gpt-3.5-turbo",
            messages=newcontext,
            temperature=0,
        )

    return (response.choices[0].message.content)

## NL2SQL Samples
We're going to review some examples generated with the old prompt and others with the new prompt.

In [30]:
#new
context_user = context.copy()
print(return_CCRMSQL("""I need to see the latest project""", context_user))

SELECT * FROM research_projects ORDER BY start_date DESC LIMIT 1;

In [31]:
#old
old_context_user = old_context.copy()
print(return_CCRMSQL("I need to see the latest project", old_context_user))

Nice request! Can you please provide the table structure for the projects?

In [32]:
#new
print(return_CCRMSQL("emails and names of hires in the last 6 months", context_user))

SELECT name, email
FROM instructors
WHERE hire_date >= date('now', '-6 months');

In [33]:
#old
print(return_CCRMSQL("emails and names of hires in the last 6 months", old_context_user))

This is your SQL:
```sql
SELECT e.name, e.email
FROM employees e
JOIN hires h ON e.ID_usr = h.ID_usr
WHERE h.hire_date >= DATE_SUB(CURDATE(), INTERVAL 6 MONTH);
```

This SQL query selects the names and emails of employees who were hired in the last 6 months. It joins the "employees" table with a hypothetical "hires" table on the employee ID, then filters the results to include only those hires that occurred within the last 6 months using the `DATE_SUB` function.

In [34]:
#new
print(return_CCRMSQL("average grades of students per employee", context_user))

SELECT instructor_ID, AVG(grade) AS average_grade
FROM enrollments
GROUP BY instructor_ID;

In [35]:
#old
print(return_CCRMSQL("average grades of students per employee", old_context_user))

This is your SQL:
```sql
SELECT e.name, AVG(s.salary) AS average_salary
FROM employees e
JOIN salary s ON e.ID_usr = s.ID_usr
GROUP BY e.name;
```

This SQL query retrieves the average salary of each employee by joining the "employees" table with the "salary" table on the employee ID. It then calculates the average salary for each employee and displays it along with the employee's name.

# Exercise
 - Complete the prompts similar to what we did in class.
     - Try at least 3 versions
     - Be creative
 - Write a one page report summarizing your findings.
     - Were there variations that didn't work well? i.e., where GPT either hallucinated or wrong.
     - What did you learn?